body {
    background-color: #EEEEEE;
}

h1, h3 {
    color: #393E46;
}

hr {
    border-style: dotted none none;
    border-width: 5px;
    border-color: #00ADB5;
    width: 3%;
}

img {
    height: 135px;
}